.good {
  background-color: #00e400;
  color: #000000;
}

.moderate {
  background-color: #ffff00;
  color: #000000;
}

.unhealthy-sensitive {
  background-color: #ff7e00;
  color: #000000;
}

.unhealthy {
  background-color: #ff0000;
  color: #ffffff;
}

.very-unhealthy {
  background-color: #8f3f97;
  color: #ffffff;
}

.hazardous {
  background-color: #7e0023;
  color: #ffffff;
}

.icon-good {
  background-image: url("../ico/good.png");
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat;
  display: inline-block; /* or block depending on your layout */
  width: 100px; /* Width is 60% of its containing .col element */
  height: 0; /* Initial height is set to 0 */
  padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
  background-position: center center;
  margin: auto; /* This will help center the block if it's smaller than the column */
}

.icon-moderate {
  background-image: url("../ico/moderate.png");
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat;
  display: inline-block; /* or block depending on your layout */
  width: 100px; /* Width is 60% of its containing .col element */
  height: 0; /* Initial height is set to 0 */
  padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
  background-position: center center;
  margin: auto; /* This will help center the block if it's smaller than the column */
}

.icon-unhealthy-sensitive {
  background-image: url("../ico/unhealthy-sensitive.png");
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat;
  display: inline-block; /* or block depending on your layout */
  width: 100px; /* Width is 60% of its containing .col element */
  height: 0; /* Initial height is set to 0 */
  padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
  background-position: center center;
  margin: auto; /* This will help center the block if it's smaller than the column */
}

.icon-unhealthy {
  background-image: url("../ico/unhealthy.png");
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat;
  display: inline-block; /* or block depending on your layout */
  width: 100px; /* Width is 60% of its containing .col element */
  height: 0; /* Initial height is set to 0 */
  padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
  background-position: center center;
  margin: auto; /* This will help center the block if it's smaller than the column */
}

.icon-very-unhealthy {
  background-image: url("../ico/very-unhealthy.png");
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat;
  display: inline-block; /* or block depending on your layout */
  width: 100px; /* Width is 60% of its containing .col element */
  height: 0; /* Initial height is set to 0 */
  padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
  background-position: center center;
  margin: auto; /* This will help center the block if it's smaller than the column */
}

.icon-hazardous {
  background-image: url("../ico/hazardous.png");
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat;
  display: inline-block; /* or block depending on your layout */
  width: 100px; /* Width is 60% of its containing .col element */
  height: 0; /* Initial height is set to 0 */
  padding-bottom: 60%; /* Padding-bottom based on the width of the element gives it height */
  background-position: center center;
  margin: auto; /* This will help center the block if it's smaller than the column */
}

.card {
  border-radius: 20px;
  /* border-style:solid; */
  /* border-color: #0f090d; */
  width: 300px;
  height: 310px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
}

/* @media screen and (min-width: 768px) {
  .card {
    max-width: 400px;
  }
} */

.card-header {
  text-align: center;
  font-size: 16px;
  /* font-family: sans-serif; */
}

.grid {
  max-width: 100%;
  /* max-height: 100%; */
}

.aqi1 {
  font-size: 30px;
  text-align: center;
}


.date1 {
  text-align: center;
  font-size: 15px;
  font-weight:bold;
}

.col3 {
  text-align: center;
  /* font-family: sans-serif; */
  font-size: 15px;
}

.card-footer {
  height: 70px;
  text-align: center;

  /* background-color: rgb(24, 131, 146); */
}

.day1 {
  background-color: #7e0023;
  border-radius: 7px;
  color: #ffffff;
}

.day2 {
  background-color: #8f3f97;
  border-radius: 7px;
  color: #ffffff;
}

.day3 {
  background-color: #ff7e00;
  border-radius: 7px;
  color: #ffffff;
}

.day {
  border-radius: 7px;
}
