h1.register-user {
    text-align: center;
}


.form-container {
    max-width: 400px;
    /* Adjust as needed */
    margin: 0 auto;
    /* Center align the form */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    /* Clear the float */
}


.form-group {
    margin-bottom: 15px;
    /* Space between form elements */
}


.form-group label {
    display: block;
    /* Make label take the full width */
    margin-bottom: 5px;
    /* Space between label and input */
}


.form-group input[type="text"],
input[type="email"],
input[type="password"] {
    width: 96%;
    /* Make inputs take full width of the form container */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-container input[type="submit"] {
    background-color: #4CAF50;
    /* Example button color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}


input[type="submit"]:hover {
    background-color: #45a049;
   /* Darker shade for hover effect */
}


ul.errors {
    padding: 20px;
    color: #970020;
    background-color: #ffd5de;
    border-radius: 4px;
}


.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
    border-radius: 4px;
}

